<section id="titleContainer">
  <h2><%= title %></h2>
  <% if (typeof (info) !== 'undefined' && info) { %>
  <div class="info">
    <a href="<%= info %>" target="_blank">?</a>
  </div>
  <% } %>
</section>