<div><li><a href="/">홈</a></li></div>
<div><li><a href="/sns">SNS</a></li></div>
    <div><li><a href="/dong">테마</a></li></div>
        <div><li><a href="/main">지역</a></li></div>
            <div><li><a href="/cafe">카페</a></li></div>
                <div><li><a href="/bakery">빵집</a></li></div>
                    <div><li><a href="/food">맛집</a></li></div>
                        <div><li><a href="/pub">술집</a></li></div>
                        <div><li><a href="/leisure">레져</a></li></div>
                            <div><li><a href="/tour">투어</a></li></div>
                        <div><li><li><a href="/heal">마사지</a></li></div>
                        <div><li><li><a href="/fun">부산갤</a></li></div>



