<div><a href="/oneshop">1인샵</a></div>
<div><a href="/thai">타이/아로마</a></div>
<div><a href="/smasa">스웨디시</a></div>
<div><a href="/sports">스포츠/지압</a></div>
<div><a href="/china">중국/풋마사지</a></div>
<div><a href="/wax">왁싱</a></div>
<div><a href="/spa">스파/사우나</a></div>
<div><a href="/spa">호텔식</a></div>
<div><a href="/etc">기타업소</a></div>

<!-- <li><a href="/oneshop">1인샵</a></li>
<li><a href="/thai">타이/아로마</a></li>
<li><a href="/smasa">스웨디시</a></li>
<li><a href="/sports">스포츠/지압</a></li>
<li><a href="/china">중국/풋마사지</a></li>
<li><a href="/wax">왁싱</a></li>
<li><a href="/spa">스파/사우나</a></li>
<li><a href="/spa">호텔식</a></li>
<li><a href="/etc">기타업소</a></li> -->
