#section {
  width: 100%;
  background-color: #ffff;
}

/* commons */
#section .category {
  color: #697183;
  background-color: #f5f6f9;
  border-radius: 6px;
  padding: 4px 6px;
  margin-right: 8px;
  font-size: 1em;
  word-break: keep-all;
  box-sizing: border-box;
}

[data-theme="dark"] #section .category {
  background-color: rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] #section .sectionGroups a {
  color: rgba(255, 255, 255, 0.7);
}

#section .titleContainer svg {
  width: 14px;
  margin-right: 2px;
}

#section .titleContainer .image,
#section .titleContainer .commentCount {
  color: #757dd8;
  font-size: 0.82em;
}

#section .sectionTitleContainer {
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 8px;
  padding-bottom: 7px;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.06);

  /* border-bottom: 3px solid rgb(174, 27, 27); */
}

#section .sectionTitleContainer h2 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 10px;
  color: #626263;
}

#section .sectionTitleContainer .content {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* sectionGroups */
#section .sectionGroups {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}

#section .sectionGroup {
  width: 100%;
}

#section .sectionGroups .rowTwo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

#section .sectionGroups .rowOne,
#section .sectionGroups .side {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

/* row */
#section .sectionGroups .rowTwo .section,
#section .sectionGroups .rowOne .section,
#section .sectionGroups .side .section {
  background-color: #fff;
  border-radius: 8px;
  padding: 1px;
  box-shadow: 0 2px 30px 0 rgba(129, 21, 23, 0.06);
}

[data-theme="dark"] #section .sectionGroups .rowTwo .section,
[data-theme="dark"] #section .sectionGroups .rowOne .section,
[data-theme="dark"] #section .sectionGroups .side .section {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
}

#section .sectionGroups .rowTwo .sectionTitleContainer,
#section .sectionGroups .rowOne .sectionTitleContainer,
#section .sectionGroups .side .sectionTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  border-bottom: 1px dotted rgb(167, 164, 164);
  height: 30px;
  padding-left: 12px;
  font-weight: bold;

  /* background-color: #575797;
  border-top-right-radius: 15px; */
}

#section .sectionGroups .rowTwo .sectionTitleContainer h3,
#section .sectionGroups .rowOne .sectionTitleContainer h3,
#section .sectionGroups .side .sectionTitleContainer h3 {
  font-size: 1em;
  color: #c8b3d0;
}

#section .sectionGroups .rowTwo .sectionTitleContainer .more,
#section .sectionGroups .rowOne .sectionTitleContainer .more,
#section .sectionGroups .side .sectionTitleContainer .more {
  font-size: 12px;
  padding-right: 10px;
  font-weight: normal;
}

#section .sectionGroups .rowTwo .text .articles,
#section .sectionGroups .rowOne .text .articles,
#section .sectionGroups .side .text .articles {
  display: flex;
  flex-direction: column;
  gap: 3px;
  display: flex;
  font-size: 0.95em;
}

#section .sectionGroups .rowTwo .text .articles .article,
#section .sectionGroups .rowOne .text .articles .article,
#section .sectionGroups .side .text .articles .article {
  font-size: 0.92em;
  color: rgb(31, 30, 30);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  border-bottom: 1px dotted rgb(231, 231, 234);
  margin-bottom: 1px;
}

#section .sectionGroups .rowTwo .text .articles .article .titleContainer,
#section .sectionGroups .rowOne .text .articles .article .titleContainer,
#section .sectionGroups .side .text .articles .article .titleContainer {
  flex: 1;
  width: 100px;
  min-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 10px;
}

#section .sectionGroups .rowTwo .text .articles .article .title,
#section .sectionGroups .rowOne .text .articles .article .title,
#section .sectionGroups .side .text .articles .article .title {
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#section .sectionGroups .rowTwo .text .articles .article .title:hover,
#section .sectionGroups .rowOne .text .articles .article .title:hover,
#section .sectionGroups .side .text .articles .article .title:hover {
  text-decoration: underline;
}

#section .sectionGroups .rowTwo .text .articles .article .datetime,
#section .sectionGroups .rowOne .text .articles .article .datetime,
#section .sectionGroups .side .text .articles .article .datetime {
  width: 50px;
  display: flex;
  justify-content: flex-end;
  color: #8e939f;
  font-size: 0.7em;
  margin-left: 10px;
  word-break: keep-all;
  padding-right: 10px;
}

#section .sectionGroups .rowTwo > .image .articles,
#section .sectionGroups .side > .image .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#section .sectionGroups .rowOne > .image .articles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

#section .sectionGroups .rowTwo > .image .article,
#section .sectionGroups .rowOne > .image .article,
#section .sectionGroups .side > .image .article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
}

#section .sectionGroups .rowTwo > .image .article .image,
#section .sectionGroups .rowOne > .image .article .image,
#section .sectionGroups .side > .image .article .image {
  position: relative;
  width: 100%;
  padding: 0;
  padding-bottom: 78.43%;
  margin: 0;
}

#section .sectionGroups .rowTwo > .image .article .image img,
#section .sectionGroups .rowOne > .image .article .image img,
#section .sectionGroups .side > .image .article .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#section .sectionGroups .rowTwo > .image .article .title,
#section .sectionGroups .rowOne > .image .article .title,
#section .sectionGroups .side > .image .article .title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-size: 0.97em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: center;
  border-top: 1px dotted rgb(143, 143, 149);
  padding-left: 5px;
  padding-right: 10px;
}

#section .sectionGroups .rowTwo > .image .article .image,
#section .sectionGroups .rowOne > .image .article .image,
#section .sectionGroups .side > .image .article .image {
  position: relative;
}

#section .sectionGroups .rowTwo > .image .article .image .count,
#section .sectionGroups .rowOne > .image .article .image .count,
#section .sectionGroups .side > .image .article .image .count {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 0.7em;
  padding: 2px 6px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  margin-bottom: 10px;
}

#section .sectionGroups .rowTwo > .image .article .title:hover,
#section .sectionGroups .rowOne > .image .article .title:hover,
#section .sectionGroups .side > .image .article .title:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  #section .sectionGroups .rowTwo {
    grid-template-columns: repeat(1, 1fr);
  }

  #section .sectionGroups .rowTwo > .image .articles,
  #section .sectionGroups .rowOne > .image .articles,
  #section .sectionGroups .side > .image .articles {
    gap: 5px;
  }

  #section .sectionGroups .rowOne > .image .articles,
  #section .sectionGroups .side > .image .articles {
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.93em;
  }
}

/* content */
/* #section .sectionGroups .sectionGroup > .contentTwo {
} */

#section .sectionGroups .sectionGroup > .contentTwo .articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}
#section .sectionGroups .sectionGroup > .contentOne .articles {
  display: grid;
  gap: 2px;
}

#section .sectionGroups .sectionGroup > .contentTwo .article,
#section .sectionGroups .sectionGroup > .contentOne .article {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding-left: 3px;
  gap: 2px;
  border-top: 1px solid rgb(225, 225, 225);
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.06);
  /* border-top: 3px solid rgb(169, 214, 246);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  border-bottom: 3px solid rgb(169, 214, 246);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
} */
}

/* ---내용---- */

#section .sectionGroups .sectionGroup > .contentTwo .article .content {
  width: 100%;
  display: -webkit-box;
  align-items: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  box-sizing: border-box;
  color: #262525;
  /* border-radius: 6px; */

  /* text-shadow: 0px 1px 0px rgb(0, 0, 0); */
  /* box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08); */
  /* overflow: auto; */
}

#section .sectionGroups .sectionGroup > .contentTwo .article .content p {
  color: black;
  padding-right: 15px;
  padding-left: 8px;
  line-height: 20px;
  width: 98%;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .content .image {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #0b0b0b;
  width: 100%;
  height: 100%;
  /* height: 350px; */
  /* min-height: 350px; */
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#section .sectionGroups .sectionGroup > .contentTwo .article img,
#section .sectionGroups .sectionGroup > .contentOne .article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-height: 500px;
  object-fit: cover;
  /* border-radius: 12px; */
  /* max-height: 700px;
  max-height: 350px; */
}

/* ----------------------------유튜브사이즈--------------------------------- */
#section .sectionGroups .sectionGroup > .contentTwo .article .content .media {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0b0b;
  width: 540px;
  /* height: 300px; */
  margin-top: 5px;
  margin-bottom: 5px;
}

#section
  .sectionGroups
  .sectionGroup
  > .contentTwo
  .article
  .content
  .media
  div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0b0b;
  height: 100%;
  width: 100%;
}

/* #section
  .sectionGroups
  .sectionGroup
  > .contentTwo
  .article
  .content
  ::-webkit-scrollbar-thumb {

} */

#section .sectionGroups .sectionGroup > .contentTwo .article .a {
  width: 100%;
  height: 38px;
  min-height: 37px;
  padding: 1px 6px;
  margin-top: 7px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  color: #9b9b9b;
  background-color: RGB(250, 250, 250);
  font-size: 0.75em;
  align-items: center;
  flex-wrap: nowrap;

  border-top: 2px solid rgb(228, 229, 229);
  border-bottom: 2px solid rgb(198, 224, 251);

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  /* font-weight: bold; */
  box-shadow: 2px 7px 5px 3px rgba(0, 0, 0, 0.05);
}

/* #section .sectionGroups .sectionGroup > .contentTwo .article .a :hover {
  color: rgb(255, 142, 5);
} */

#section .sectionGroups .sectionGroup > .contentTwo .article .aa {
  width: 99%;
  height: 38px;
  min-height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 3px;
  font-weight: bold;
  background-origin: padding-box;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .aa a {
  font-size: 0.9em;

  line-height: 18px;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .aa .aaa {
  padding: 5px 5px;

  display: flex;
  direction: row;
}

#section
  .sectionGroups
  .sectionGroup
  > .contentTwo
  .article
  .aa
  .aaa
  .f-category {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 10px;

  color: #ffffff;
  background-color: rgb(174, 27, 27);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  height: 14px;
  padding: 1px 5px;
  margin-right: 1px;
  margin-top: 2px;
  font-size: 0.6em;
  /* word-break: keep-all;
  box-sizing: border-box; */
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}

#section .sectionGroups .sectionGroup > .contentTwo .article .aa .count {
  display: flex;
  justify-content: flex-end;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .aa .count a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  color: #ffffff;
  font-size: 0.65em;
  padding: 1px 6px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  /* margin-right: 5px; */
  /* margin-bottom: 10px; */
}

#section
  .sectionGroups
  .sectionGroup
  > .contentTwo
  .article
  .aa
  .title
  #section
  .sectionGroups
  .sectionGroup
  > .contentOne
  .article
  h3 {
  width: 70%;
  font-size: 1em;
  padding: 2px 3px;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  display: -webkit-box;
  margin-top: 3px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  margin: 2px 5px;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .aaa .title {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 6px;
  margin-right: 15px;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .aaa .title a {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 18px;
}

/* 
#section .sectionGroups .sectionGroup > .contentTwo .article .aa h3:hover {
} */

#section .sectionGroups .sectionGroup > .contentTwo .article .likeCount {
  display: flex;
  color: rgb(123, 123, 123);
  padding: 1px 2px;
  align-items: center;
  justify-content: START;
  width: 13%;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .likeCount :hover {
  color: rgb(123, 123, 123);
}

#section .sectionGroups .sectionGroup > .contentTwo .article .unLikeCount {
  display: flex;
  color: rgb(137, 137, 137);
  justify-content: start;
  align-items: center;
  width: 13%;
}

#section
  .sectionGroups
  .sectionGroup
  > .contentTwo
  .article
  .unLikeCount
  :hover {
  color: rgb(137, 137, 137);
}

#section .sectionGroups .sectionGroup > .contentTwo .article .viewCount {
  display: flex;
  color: rgb(123, 123, 123);
  justify-content: start;
  align-items: center;
  width: 13%;
  box-sizing: border-box;
}
#section
  .sectionGroups
  .sectionGroup
  > .contentTwo
  .article
  .commentCount:hover {
  color: rgb(112, 112, 112);
  /* font-size: 0.95em; */
}
#section .sectionGroups .sectionGroup > .contentTwo .article .a .nickName {
  width: 23%;
  display: flex;
  justify-content: start;
  align-items: center;
  word-break: break-all;
  color: #3b3a3a;
}

#section
  .sectionGroups
  .sectionGroup
  > .contentTwo
  .article
  .a
  .permissionName {
  font-size: 0.8em;
  width: 10%;
  padding-left: 3px;
  display: flex;
  justify-content: start;
  align-items: center;
  word-break: break-all;
  color: #df6a6a;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .commentCount {
  display: flex;
  color: rgb(112, 112, 112);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 10px;
  width: 15%;
}
#section .sectionGroups .sectionGroup > .contentTwo .article .viewCount:hover {
  color: rgb(137, 137, 137);
  /* font-size: 0.95em; */
}
#section .sectionGroups .sectionGroup > .contentTwo .article svg {
  width: 14px;
  height: 14px;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .a .datetime {
  /* width: 30%; */
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 0.8em;
  color: rgb(112, 112, 112);
  width: 13%;
  /* padding-right: 20px; */
}

#section .sectionGroups .sectionGroup > .contentTwo .article .a .more {
  display: flex;
  justify-content: end;
  align-items: center;
  /* padding-right: 5px; */
  width: 28%;
  font-size: 1.1em;
}
#section .sectionGroups .sectionGroup > .contentTwo .article .a .more :hover {
  color: black;
  font-size: 0.95em;
}

#section .sectionGroups .sectionGroup > .contentTwo .article .a .dot {
  color: rgb(85, 81, 81);
}

#section .sectionGroups .sectionGroup > .contentTwo .article .aa p:last-child,
#section .sectionGroups .sectionGroup > .contentOne .article p:last-child {
  font-size: 0.85em;
  color: #3f3f3f;
  margin: 0;
  padding: 5px 6px;
  display: -webkit-box;
  align-items: center;
  -webkit-line-clamp: 100;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
/* ------------------------------------------------------------- */
/* #section .sectionGroups .sectionGroup > .contentTwo .article .aa .etc {
  color: #0f0f0f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 1px;
  padding-top: 1px;
  font-size: 0.75em;
} */

@media (max-width: 1280px) {
  #section .sectionGroups .sectionGroup > .contentTwo .articles {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }
}

@media (max-width: 750px) {
  #section .sectionGroups .sectionGroup > .contentTwo .articles {
    grid-template-columns: repeat(1, 1fr);
    width: 350px;
  }
  #section .sectionGroups .sectionGroup > .contentTwo .article .content p {
    color: #0b0b0b;
    /* margin-top: 3px; */
    font-size: 0.85em;
  }
}

/* tab */
#section .sectionGroups .tab {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
}

#section .sectionGroups .tab .titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

#section .sectionGroups .tab .titles .title {
  flex: 1;
}

#section .sectionGroups .tab .titles .title label {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(252, 249, 249);
  background-color: #8e92b0;
  cursor: pointer;
  border-top-right-radius: 8px;
  font-size: 0.9em;
  /* border-bottom-right-radius: 3px; */
}

#section .sectionGroups .tab .titles .title label:hover {
  /* background-color: rgb(235, 237, 244); */
  /* color: rgb(95, 95, 95); */
  font-size: 1.2em;
  /* border-radius: 6px; */
}

#section .sectionGroups .tab .titles .title:first-child label {
  border-top-left-radius: 3px;
}

#section .sectionGroups .tab .titles .title:last-child label {
  border-top-right-radius: 3px;
}

#section .sectionGroups .tab .titles .title label:focus {
  outline: none;
}

#section .sectionGroups .tab .titles .title input {
  display: none;
}

#section .sectionGroups .tab .titles .title input:checked + label {
  color: rgb(113, 114, 116);
  background-color: rgb(251, 252, 254);
  /* border-top: 1px dotted rgb(105, 105, 105); */
}

#section .sectionGroups .tab .text {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px;
  gap: 9px;
  font-size: 1em;
}

#section .sectionGroups .tab .text.selected {
  display: flex;
}

#section .sectionGroups .tab > .image {
  width: 100%;
  display: none;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 25px;
}
#section .sectionGroups .tab > .image.selected {
  display: grid;
}

#section .sectionGroups .tab .text .article {
  width: 100%;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted rgb(231, 231, 234);
  margin-bottom: 1px;
}

#section .sectionGroups .tab .text .article .titleContainer {
  font-size: 0.85em;
  flex: 1;
  width: 100px;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#section .sectionGroups .tab .text .article .title {
  margin-right: 8px;
}

#section .sectionGroups .tab .text .article .title:hover {
  text-decoration: underline;
}

#section .sectionGroups .tab .text .article .datetime {
  width: 50px;
  display: flex;
  justify-content: flex-end;
  color: #9da5b6;
  font-size: 0.7em;
  margin-left: 10px;
  word-break: keep-all;
}

#section .sectionGroups .tab > .image .article .image img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

#section .sectionGroups .tab > .image .article .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: center;
}

@media (max-width: 1280px) {
  #section .sectionGroups .tab > .image {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

/* dropdown */
#section .sectionGroups .dropdown .articles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
}

#section .sectionGroups .dropdown .article {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#section .sectionGroups .dropdown .article .titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 2px;
  cursor: pointer;
}

#section .sectionGroups .dropdown .article .titleContainer h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 0.93em;
  padding-left: 10px;
  color: #c2267e;
}

#section .sectionGroups .dropdown .article .titleContainer :hover {
  font-size: 1.13em;
}

#section .sectionGroups .dropdown .article .titleContainer svg {
  color: rgba(0, 0, 0, 0.3);
}

#section .sectionGroups .dropdown .article .content {
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 18px 25px;
  padding-top: 0;
}

#section .sectionGroups .dropdown .article .content.active {
  display: flex;
}

#section .sectionGroups .dropdown .article .content p:last-child {
  margin: 0;
}

#section .sectionGroups .dropdown .article .content img {
  width: 100%;
}

/* blog */
#section .sectionGroups .blog .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#section .sectionGroups .blog .article {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
}

#section .sectionGroups .blog .article .image img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#section .sectionGroups .blog .article .info {
  padding: 20px;
}

#section .sectionGroups .blog .article .info h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  word-break: break-all;
}

#section .sectionGroups .blog .article .info .content {
  color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

@media (max-width: 1280px) {
  #section .sectionGroups .blog .articles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  #section .sectionGroups .blog .article .info {
    padding: 10px;
  }
}

/* imageAndTitle */
#section .sectionGroups .imageAndTitle .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#section .sectionGroups .imageAndTitle .article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

#section .sectionGroups .imageAndTitle .image {
  width: 100%;
}

#section .sectionGroups .imageAndTitle .image img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

#section .sectionGroups .imageAndTitle .title {
  font-weight: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: center;
}

@media (max-width: 1280px) {
  #section .sectionGroups .imageAndTitle .articles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* bookmark */
#section .sectionGroups .bookmark .articles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#section .sectionGroups .bookmarkThree .articles {
  grid-template-columns: repeat(3, 1fr);
}

#section .sectionGroups .bookmarkFour .articles {
  grid-template-columns: repeat(4, 1fr);
}

#section .sectionGroups .bookmarkFive .articles {
  grid-template-columns: repeat(5, 1fr);
}

#section .sectionGroups .bookmark .article {
  /* background-color: #fff; */
  border: 1px solid #bbb;
}

#section .sectionGroups .bookmark .article .image {
  width: 100%;
}

#section .sectionGroups .bookmark .article .image img {
  width: 100%;
}

#section .sectionGroups .bookmark .article .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
  gap: 4px;
}

#section .sectionGroups .bookmark .article .info .title {
  font-weight: bold;
  font-size: 1.2em;
}

#section .sectionGroups .bookmark .article .buttons {
  display: flex;
}

#section .sectionGroups .bookmark .article .buttons a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

#section .sectionGroups .bookmark .article .buttons .detail {
  color: #fff;
  background-color: #00306e;
}

#section .sectionGroups .bookmark .article .buttons .join {
  color: #fff;
  background-color: #474748;
}

@media (max-width: 1280px) {
  #section .sectionGroups .bookmark .articles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* youtube */
#section .sectionGroups .sectionGroup > .youtube .articles {
  display: grid;
  gap: 20px;
}

#section .sectionGroups .sectionGroup > .youtube .article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#section .sectionGroups .sectionGroup > .youtube .article .content {
  width: 100%;
}

#section .sectionGroups .sectionGroup > .youtube .article .content .youtube {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 30px;
}

#section
  .sectionGroups
  .sectionGroup
  > .youtube
  .article
  .content
  .youtube
  iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
