#list h1 {
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 1em;
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 9px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}


#list .categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3px;
}

#list .category {
  font-size: 0.75em;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
  min-width: max-content;
  word-break: keep-all;
  word-break: break-all;
}

#list .category a {
  width: 100%;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #838383;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 3px;
}

#list .category a:hover {
  background-color: #b5b9c1;
}

#list .categories .category .selected {
  background-color: #923030;
}

[data-theme="dark"] #list .category a {
  background-color: rgba(255, 255, 255, 0.3);
}

[data-theme="dark"] #list .category a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* searchAndWrite */
#searchAndWrite {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

#searchAndWrite > div {
  /* flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; */
}

#searchAndWrite form {
  width: 40px;
  height: 25px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchAndWrite .search {
  flex: 1;
  display: flex;
}

#searchAndWrite .search select {
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  padding: 0 20px;
  color: rgb(66, 65, 65);
  background-color: #cecece;
  /* border: 1px solid red; */
  border: 0;
  font-size: 0.8em;
  box-sizing: border-box;
  cursor: pointer;
}

[data-theme="dark"] #searchAndWrite .search select {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
}

#searchAndWrite .search input {
  flex: 1;
  height: 25px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 8px;
  border: 0;
  margin: 0 10px;
  padding: 0 16px;
  font-size: 0.8em;
}

[data-theme="dark"] #searchAndWrite .search input {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
}

#searchAndWrite .search button {
  height: 25px;
  box-sizing: border-box;
  color: #fff;
  background-color: #babec6;
  border: 0;
  margin: 0;
  padding: 0 20px;
  font-size: 0.8em;
  border-radius: 6px;
}

[data-theme="dark"] #searchAndWrite .search button {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
}

#searchAndWrite .search button:hover,
#searchAndWrite .search button:hover {
  background-color: #b5b9c1;
}

[data-theme="dark"] #searchAndWrite .search button:hover,
[data-theme="dark"] #searchAndWrite .search button:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
}

#searchAndWrite .write {
  display: flex;
  justify-content: flex-end;
}

#searchAndWrite .write a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  color: #fff;
  background-color: #6c76b4;
  padding: 0 20px;
  height: 28px;
  border-radius: 6px;
}

#searchAndWrite .write a:hover {
  background-color: #353c45;
}

@media (max-width: 1080px) {
  #list {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  #list .categories {
    grid-template-columns: repeat(4, 1fr);
  }

  #list .articleList {
    margin-left: 10px;
    margin-right: 10px;
  }

  #list .articleList .item .title {
    font-size: 1em;
  }

  #searchAndWrite {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9em;
  }

  #searchAndWrite div {
    width: 100%;
  }

  #searchAndWrite form {
    width: 100%;
  }

  #searchAndWrite .search input {
    width: 100%;
  }

  #searchAndWrite .write {
    justify-content: center;
    margin-top: 14px;
  }

  #searchAndWrite .write a {
    flex: 1;
  }
}
