<div class="menulist">
  <a href="/best/day"<% if (typeof (position) !== 'undefined' ) { %> class="selected"<% } %>><%= __('ì˜¤ëŠ˜ì˜ ì¶”ì²œ') %></a>
  <a href="/best/week"<% if (typeof (position) !== 'undefined') { %> class="selected"<% } %>><%= __('ð–ðžðžð¤ ððžð¬ð­') %></a>
  <a href="/best/month"<% if (typeof (position) !== 'undefined' ) { %> class="selected"<% } %>><%= __('ðŒð¨ð§ð­ð¡ ððžð¬ð­') %></a>
  <a href="/new"<% if (typeof (position) !== 'undefined' ) { %> class="selected"<% } %>><%= __('ððžð°') %></a>

</div>